/*Basket/cart header*/
.addProduct {
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 80px;
	background: white;
	color: #1C1C1C;
	top: 100px;
	padding: 0 0 0 50px;
	font-size: 25px;
	z-index: 100;
}
.section-wrap {
	padding-top: 180px;
	padding-bottom: 100px;
	min-height: 300px;
}
.ap-basket {
	display: flex;
    height: 100%;
    width: 200px;
    background: red;
    color: white !important;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    transition: all 0.3s ease-in-out;
}
.ap-basket::before {
	content: '';
	position: absolute;
	right: 200px;
	width: 0;
	height: 0;
	border: 0 solid transparent;
	border-right-width: 0px;
	border-left-width: 80px;
	border-bottom: 80px solid red;
	transition: all 0.3s ease-in-out;
}
.ap-basket:hover {
	background: #1C1C1C;
}
.ap-basket:hover:before {
	border-bottom: 80px solid #1C1C1C;
}

/*Add to Basket*/
.close-basket {
	position: absolute;
	left: -50px;
	top: 10px;
	color: white;
	cursor: pointer;
}
.addToBasket {
	position: fixed;
	right: 0;
	height: calc(100vh - 180px);
	width: 400px;
	top: 180px;
	background: #1C1C1C;
	z-index: 120;
	right: -500px;
	transition: all 0.3s ease-in-out;
}
.overlay {
	opacity: 1 !important;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(8,8,8,0.7);
	z-index: 110;
	transition: all 0.3s ease-in-out;
}
.test {
	opacity: 0;
	height: 100%;
	width: 100%;
	position: fixed;
}
.pay {
	background: #ea0d27;
}

.size-box {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.sizes {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 90%;
}
.size-circle {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	border: 1px solid gray;
	color: gray;
	width: 60px;
	height: 60px;
	margin: 10px;
	flex-wrap: wrap;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.size-circle:hover {
	border: 1px solid white;
}
.selected {
	background: white;
	color: #1C1C1C;
}
.cart-form {
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.crt-btn {
	width: 200px;
	color: white;
	margin-top: 50px;
}
.crt-btn:hover {
	background: transparent !important;
}
input[type=number] {
	background: transparent;
	width: 100px;
	height: 40px;
	border: 1px solid gray;
	border-radius: 40px;
	color: white;
	text-align: center;
	outline: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

/*Product section*/
.product-wrap {
	display: flex;
	position: relative;
	width: 100%;
}
.pw-left {
	display: flex;
	flex-direction: column;
	width: 70%;
	padding: 0 250px;
}
.pwl-img {
	position: relative;
	width: 100%;
}
.pw-right {
	position: fixed;
	top: 300px;
	right: 20px;
	width: 30%;
    padding: 0 20px;
}