
body {
	font-family: 'Fira Sans', sans-serif;
	color: #202020;
}
a {
	color: #202020 !important;
	text-decoration: none !important;
}
.white {
	color: white !important;
}

.admin_wrap {
      display: flex;
      flex-direction: row;
}
.control_panel {
	position: fixed;
	display: flex;
	flex-direction: column;
	width: 200px;
	min-height: 100vh;
	background-color: #2D343A;
}
.img_wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 100px;
}
.cp_img {
	width: 70px;
	height: 70px;
}
.cp_options {
	width: 100%;
	height: calc(100vh - 150px);
    margin-top: 50px;	
}
.option-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
	width: 100%;
	height: 45px;
	color: lightgray;
}
.option-list-item:hover {
	background: rgba(8,8,8,0.2);
	color: white;
}

.admin_page {
	position: absolute;
	display: flex;
	flex-direction: column;
	left: 200px;
    width: calc(100% - 200px);
}
.admin_top {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 70px;
	border-bottom: 1px solid lightgray;
}
.at-right, .at-left {
	display: flex;
	justify-content: center;
	align-items: center;
}
.at-right {
	height: 100%;
	margin-right: 50px;
}
.at-left {
	height: 100%;
	margin-left: 50px;
}
.breadcrumb-title {
	font-size: 17px;
    font-weight: 600;
    font-style: italic;
}
.small_user_img {
	width: 30px;
	height: 30px;
}

.green_btn {
	background: limegreen;
	padding: 10px 40px;
	box-shadow: inset 0 0 5px rgba(8,8,8,0.5);
	border-radius: 15px;
	font-weight: 600;
	color: white !important;
}