.flex-c {
    flex-direction: column;
    padding: 70px 0;
    background: white;
}
.subform-box {
    display: flex;
}
.input-fld {
    width: 250px;
    height: 45px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    padding: 0 15px;
    border: 1px solid rgba(8,8,8,0.5);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.input-fld:focus {
    outline: none;
}
.newsletter-btn {
    background: white;
    width: 100px;
    height: 45px;
    border: 1px solid rgba(8,8,8,0.5);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.ml {
    margin-left: 8px;
}